<nav class="navbar">
    <div class="nav-container">
        <a href="{root}page/index.html" class="logo">
            <img src="{root}images/logo_2.png" alt="智汇学阁" class="nav-logo-img">
            <span>智汇学阁</span>
        </a>
        <ul class="nav-links">
            <li><a href="{root}page/index.html" data-page="index">首页</a></li>
            <li><a href="{root}page/datasets.html" data-page="datasets">数据集</a></li>
            <li><a href="{root}page/resources.html" data-page="resources">资源</a></li>
            <li><a href="{root}page/about.html" data-page="about">关于</a></li>
        </ul>
    </div>
</nav>
